jetty/project-website/project-site/src/site/resources/jetty.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by XBeans -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://mortbay.com/schemas/jetty/1.0'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://mortbay.com/schemas/jetty/1.0'>

  <!-- element for type: org.mortbay.jetty.bio.SocketConnector -->
  <xs:element name='bioConnector'>
    <xs:complexType>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.nio.BlockingChannelConnector -->
  <xs:element name='blockingNioConnector'>
    <xs:complexType>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.ContextHandler -->
  <xs:element name='contextHandler'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='attributes' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='baseResource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='classLoader' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='connectorNames' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='errorHandler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='eventListeners' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='hosts' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='initParams' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='mimeTypes' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='parent' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='server' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='virtualHosts' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='welcomeFiles' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='allowNullPathInfo' type='xs:boolean'/>
      <xs:attribute name='attributes' type='xs:string'/>
      <xs:attribute name='baseResource' type='xs:string'/>
      <xs:attribute name='classLoader' type='xs:string'/>
      <xs:attribute name='compactPath' type='xs:boolean'/>
      <xs:attribute name='contextPath' type='xs:string'/>
      <xs:attribute name='displayName' type='xs:string'/>
      <xs:attribute name='errorHandler' type='xs:string'/>
      <xs:attribute name='initParams' type='xs:string'/>
      <xs:attribute name='maxFormContentSize' type='xs:integer'/>
      <xs:attribute name='mimeTypes' type='xs:string'/>
      <xs:attribute name='parent' type='xs:string'/>
      <xs:attribute name='resourceBase' type='xs:string'/>
      <xs:attribute name='server' type='xs:string'/>
      <xs:attribute name='shutdown' type='xs:boolean'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.ContextHandlerCollection -->
  <xs:element name='contexts'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='handlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='contextClass' type='xsd:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.DefaultHandler -->
  <xs:element name='defaultHandler'>
    <xs:complexType>
      <xs:attribute name='serveIcon' type='xs:boolean'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.HandlerCollection -->
  <xs:element name='handlerCollection'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='handlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='server' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='server' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.deployer.ContextDeployer -->
  <xs:element name='hotDeployer'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='configurationDir' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configurationManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='contexts' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='configurationDir' type='xs:string'/>
      <xs:attribute name='configurationManager' type='xs:string'/>
      <xs:attribute name='contexts' type='xs:string'/>
      <xs:attribute name='directory' type='xs:string'/>
      <xs:attribute name='recursive' type='xs:boolean'/>
      <xs:attribute name='scanInterval' type='xs:integer'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.plus.jaas.JAASUserRealm -->
  <xs:element name='jaasUserRealm'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='roleCheckPolicy' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='roleClassNames' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='callbackHandlerClass' type='xs:string'/>
      <xs:attribute name='loginModuleName' type='xs:string'/>
      <xs:attribute name='name' type='xs:string'/>
      <xs:attribute name='roleCheckPolicy' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.xbean.JettyFactoryBean -->
  <xs:element name='jetty'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='deployers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='hotDeployer' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='deployers' type='xs:string'/>
      <xs:attribute name='hotDeployer' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.NCSARequestLog -->
  <xs:element name='ncsaLog'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='ignorePaths' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='logLocale' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='append' type='xs:boolean'/>
      <xs:attribute name='extended' type='xs:boolean'/>
      <xs:attribute name='filename' type='xs:string'/>
      <xs:attribute name='filenameDateFormat' type='xs:string'/>
      <xs:attribute name='logCookies' type='xs:boolean'/>
      <xs:attribute name='logDateFormat' type='xs:string'/>
      <xs:attribute name='logLatency' type='xs:boolean'/>
      <xs:attribute name='logLocale' type='xs:string'/>
      <xs:attribute name='logServer' type='xs:boolean'/>
      <xs:attribute name='logTimeZone' type='xs:string'/>
      <xs:attribute name='preferProxiedForAddress' type='xs:boolean'/>
      <xs:attribute name='retainDays' type='xs:integer'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.nio.SelectChannelConnector -->
  <xs:element name='nioConnector'>
    <xs:complexType>
      <xs:attribute name='delaySelectKeyUpdate' type='xs:boolean'/>
      <xs:attribute name='lowResourceMaxIdleTime' type='xs:integer'/>
      <xs:attribute name='lowResourcesConnections' type='xs:long'/>
      <xs:attribute name='lowResourcesMaxIdleTime' type='xs:long'/>
      <xs:attribute name='maxIdleTime' type='xs:integer'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.RequestLogHandler -->
  <xs:element name='requestLogHandler'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='requestLog' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='server' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='requestLog' type='xs:string'/>
      <xs:attribute name='server' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.handler.ResourceHandler -->
  <xs:element name='resourceHandler'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='baseResource' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='mimeTypes' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='welcomeFiles' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='aliases' type='xs:boolean'/>
      <xs:attribute name='baseResource' type='xs:string'/>
      <xs:attribute name='cacheControl' type='xs:string'/>
      <xs:attribute name='mimeTypes' type='xs:string'/>
      <xs:attribute name='resourceBase' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.Server -->
  <xs:element name='server'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='connectors' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='handlers' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='sessionIdManager' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='threadPool' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='userRealms' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='gracefulShutdown' type='xs:integer'/>
      <xs:attribute name='port' type='xs:integer'/>
      <xs:attribute name='sendDateHeader' type='xs:boolean'/>
      <xs:attribute name='sendServerVersion' type='xs:boolean'/>
      <xs:attribute name='sessionIdManager' type='xs:string'/>
      <xs:attribute name='stopAtShutdown' type='xs:boolean'/>
      <xs:attribute name='threadPool' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.plus.jaas.SSOJAASUserRealm -->
  <xs:element name='ssoJaasUserRealm'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='SSORealm' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='SSORealm' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.plus.jaas.StrictRoleCheckPolicy -->
  <xs:element name='strictRoleCheckPolicy'>
    <xs:complexType>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: org.mortbay.jetty.webapp.WebAppContext -->
  <xs:element name='webAppContext'>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='classLoader' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configurationClasses' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='configurations' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='errorHandler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='eventListeners' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='parent' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='permissions' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='resourceAliases' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='securityHandler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='serverClasses' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='servletHandler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='sessionHandler' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='systemClasses' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='unbounded'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name='tempDirectory' minOccurs='0' maxOccurs='1'>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any/></xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name='classLoader' type='xs:string'/>
      <xs:attribute name='contextPath' type='xs:string'/>
      <xs:attribute name='copyWebDir' type='xs:boolean'/>
      <xs:attribute name='defaultsDescriptor' type='xs:string'/>
      <xs:attribute name='descriptor' type='xs:string'/>
      <xs:attribute name='distributable' type='xs:boolean'/>
      <xs:attribute name='errorHandler' type='xs:string'/>
      <xs:attribute name='extraClasspath' type='xs:string'/>
      <xs:attribute name='extractWAR' type='xs:boolean'/>
      <xs:attribute name='logUrlOnStart' type='xs:boolean'/>
      <xs:attribute name='overrideDescriptor' type='xs:string'/>
      <xs:attribute name='parent' type='xs:string'/>
      <xs:attribute name='parentLoaderPriority' type='xs:boolean'/>
      <xs:attribute name='permissions' type='xs:string'/>
      <xs:attribute name='resourceAliases' type='xs:string'/>
      <xs:attribute name='securityHandler' type='xs:string'/>
      <xs:attribute name='servletHandler' type='xs:string'/>
      <xs:attribute name='sessionHandler' type='xs:string'/>
      <xs:attribute name='tempDirectory' type='xs:string'/>
      <xs:attribute name='war' type='xs:string'/>
      <xs:attribute name='webApp' type='xs:string'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
